[Desktop Entry]
Name=WMusic
Comment=Remote-control DockApp for xmms
Comment[pl]=Pilot do xmms dla Doku WindowMakera
Exec=wmusic
Terminal=0
Type=Application
# vi: encoding=utf-8
